@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
    font-family: Roboto, sans-serif;
}



header,
main,
footer {
    max-width: 1000px;
    margin: 1rem auto;
    border: 1px solid #ccc;
    padding: 1rem;
    background-color: lightblue;
}

h1 {
    text-align: center;
}

section {
    padding: 20px;
    background-color: white;
    margin: 1em;
    border: 1px solid #ccc;
}

nav a {
    padding: 20px;
    color: black;
    display: none;
}

nav a:hover {
    text-decoration: none;
    color: #616061;
}

.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.bar1,
.bar2,
.bar3 {
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 5px 0;
}

footer {
    text-align: center;
}

@media screen and (min-width: 700px) {
    nav a {
        display: inline;
    }

    .menu-btn {
        display: none;
    }

    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    section {
        width: calc(50% - 1.5em);
        margin: 0.5em;
    }
}

@media screen and (min-width: 1000px) {
    main {
        max-width: 1200px;
        display: flex;
        flex-wrap: nowrap;
    }

    section {
        width: calc(33.333% - 1.5em);
        margin: 0.5em;
    }
}