body {
    text-align: center;  
    margin: 60px;
    padding: 30px;
    background-color: rgb(170, 170, 170);
    border: 1px solid rgb(74, 74, 74);
}

#content {
    text-align: center;
}

ul.list {
    text-align: left;
    display: inline-block;
    width: 350px;
    list-style: none;
}

hr {
    border: none;             
    height: 3px;            
    background-color: rgb(0, 110, 255);    
}

p {
  color: rgb(0, 110, 255);   
}




